# requirements.txt
python-telegram-bot[job-queue]
aiohttp
httpx
google-generativeai

# Descomente as linhas abaixo apenas se você implementou
# as funções de foto e áudio, pois elas podem precisar
# de outras dependências no sistema.
Pillow
pytesseract
SpeechRecognition
pydub